.weis-window {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    /* background-color: #ddd; */
    border: 3px solid #000;
    border-radius: 20px;
    padding: 30px;
    z-index: 1100;

    background-color: #67d1eb;
    background-image: url(texture/diagmonds.png);
}

.weis-bag {
    display: flex;
    flex-direction: row;
}

.weis-bag > div {
    margin-right: 50px;
    display: flex;
    flex-direction: row;
}

.weis-bag > div > div {
    margin-right: -30px;
}